.u-btn {
  @include xxs(padding, 10px 35px);
  display: inline-block;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 17px 42px;
  width: auto;
  text-align: center;
  text-transform: uppercase;
  line-height: 25px;
  white-space: nowrap;
  color: $color-white;
  font-family: 'Mukta';
  font-size: 15px;
  font-weight: 800;
  user-select: none;

  &.is-default {
    box-shadow: $btn-default-shadow;
    background: $color-white;
    color: $color-dark-grey;
  }

  &.is-primary {
    box-shadow: $btn-primary-shadow;
    background: $color-primary;
  }

  &.is-info {
    box-shadow: $btn-info-shadow;
    background: $color-secondary;
  }

  &.is-attention {
    box-shadow: $btn-primary-shadow;
    background: $color-red;
  }
}
