.u-input {
  @include xl(width, 510px);
  @include md(width, 100%);
  @include input-placeholder() {
    color: $color-grey;
  }
  outline: none;
  border: 0;
  border-bottom: 1px solid $color-light-grey;
  background: $color-white;
  width: 563px;
  text-align: center;
  line-height: 33px;
  font-family: 'Mukta';
  font-size: 20px;
  font-weight: normal;
  box-sizing: border-box;
  appearance: none;
  user-select: none;

  &.is-reg {
    border-bottom: 1px solid $color-blue;
    padding: 0 10px;
    width: 295px;
    text-align: left;
  }
}
