.u-text {
  color: $color-black;
  font-family: 'Mukta';
  font-weight: normal;

  &.is-large {
    @include xl-block() {
      line-height: 39px;
      font-size: 28px;
    }
    @include sm-block() {
      line-height: 35px;
      font-size: 25px;
    }
    @include xs-block() {
      line-height: 30px;
      font-size: 22px;
    }
    line-height: 45px;
    font-size: 32px;
  }

  &.is-big {
    @include xl-block() {
      line-height: 30px;
      font-size: 20px;
    }
    @include md-block() {
      line-height: 24px;
      font-size: 17px;
    }
    @include sm-block() {
      line-height: 20px;
      font-size: 15px;
    }
    @include xs-block() {
      line-height: 20px;
      font-size: 14px;
    }
    @include xxs-block() {
      line-height: 18px;
      font-size: 12px;
    }
    line-height: 43px;
    font-size: 26px;
  }

  &.is-medium {
    @include xs-block() {
      line-height: 27px;
      font-size: 16px;
    }
    @include xxs-block() {
      line-height: 19px;
      font-size: 14px;
    }
    line-height: 33px;
    font-size: 20px;
  }

  &.is-small {
    @include xl-block() {
      line-height: 27px;
      font-size: 16px;
    }
    @include xs-block() {
      line-height: 20px;
      font-size: 12px;
    }
    line-height: 30px;
    font-size: 18px;
  }
}
