.u-title {
  @include lg-block() {
    line-height: 40px;
    font-size: 35px;
  }
  @include xs-block() {
    line-height: 30px;
    font-size: 25px;
  }
  text-transform: uppercase;
  line-height: 56px;
  color: $color-black;
  font-family: 'Mukta';
  font-size: 48px;
  font-weight: 800;

  &.is-main {
    @include xl-block() {
      line-height: 75px;
      font-size: 80px;
    }
    @include md-block() {
      line-height: 65px;
      font-size: 70px;
    }
    @include sm-block() {
      line-height: 45px;
      font-size: 52px;
    }
    @include xs-block() {
      line-height: 48px;
      font-size: 35px;
    }
    @include xxs-block() {
      line-height: 35px;
      font-size: 26px;
    }
    line-height: 99px;
    color: $color-white;
    font-size: 110px;
  }

  &.is-subtitle {
    @include xl-block() {
      line-height: 33px;
      font-size: 28px;
    }
    @include md-block() {
      line-height: 30px;
      font-size: 25px;
    }
    @include sm-block() {
      line-height: 24px;
      font-size: 20px;
    }
    line-height: 42px;
    font-size: 36px;
  }
}
