.c-404 {
  text-align: center;

  &__title {
    @include lg(font-size, 160px);
    @include xs(font-size, 120px);
    text-align: center;
    text-transform: uppercase;
    color: $color-primary;
    font-family: 'Mukta';
    font-size: 200px;
    font-weight: 800;
  }

  &__content {
    @include xl(margin-bottom, 30px);
    margin-bottom: 77px;
    line-height: 33px;
    color: $color-dark-grey;
    font-family: Mukta;
    font-size: 20px;

    strong {
      font-size: 26px;
    }
  }
}
