.c-articles {
  @include md-block() {
    margin: 0 50px;
    padding: 40px 25px 16px;
  }
  @include xs(margin, 0 10px);
  display: flex;
  flex-direction: column;
  border: 1px solid $color-semi-white;
  border-radius: 40px;
  box-shadow: $main-input-shadow;
  padding: 60px 88px 46px;
  max-height: 1040px;
  font-family: 'Mukta';
  box-sizing: border-box;

  &__box {
    background: $articles-gradient;
    overflow: hidden;
  }

  &__item {
    @include md(margin-bottom, 30px);
    @include xs(flex-direction, column);
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }

  &__content {
    @include xl(margin-left, 20px);
    @include xs-block() {
      margin-top: 15px;
      margin-left: 0;
    }
    margin-left: 50px;
  }

  &__date {
    text-transform: uppercase;
    line-height: 23px;
    color: $date-color;
    font-size: 14px;
    font-weight: 600;
  }

  .u-title {
    @include md(margin-bottom, 40px);
    @include xs(margin-bottom, 20px);
    margin-bottom: 80px;
    text-align: center;
  }

  .mCSB_scrollTools {

    .mCSB_dragger {

      .mCSB_dragger_bar {
        border-radius: 30px;
        background-color: $scroll-track-color !important;
        width: 10px;
      }
    }

    .mCSB_draggerRail {
      border-radius: 30px;
      background: $how-number-color;
      width: 10px;
    }
  }
}
