.c-benefits {
  @include md-block() {
    flex-direction: column;
    align-items: center;
  }
  display: flex;

  &__side {
    @include xl(margin-right, 89px);
    @include lg(margin-right, 22px);
    @include md-block() {
      margin-right: 0;
      text-align: center;
    }
    margin-right: 210px;

    img {
      @include xs(width, 100%);
    }
  }

  &__content {
    @include xs(width, 100%);
    margin-top: 10px;
  }

  &__tabs {
    @include xs(margin-top, 25px);
    margin-top: 50px;
  }

  &__tabs-head {
    @include md(justify-content, center);
    @include xs-block() {
      flex-wrap: wrap;
      justify-content: space-around;
    }
    display: flex;
  }

  &__tab-button {
    @include xl(margin-right, 44px);
    @include lg(margin-right, 31px);
    @include xs-block() {
      margin-right: 13px;
      margin-bottom: 20px;
      margin-left: 13px;
    }
    display: none;
    position: relative;
    transition: all 0.6s ease;
    margin-right: 65px;
    cursor: pointer;
    text-transform: uppercase;
    white-space: nowrap;
    color: $tabs-disable-color;

    &:last-child {
      margin-right: 0;
    }

    &.is-active {
      color: $color-dark-grey;

      &:after {
        @include pseudo();
        right: 0;
        bottom: 0;
        left: 0;
        transition: all 0.6s ease;
        animation: growing 0.6s ease;
        background-color: $color-primary;
        height: 3px;
      }
    }
  }

  &__tabs-content {
    display: none;
  }

  &__tabs-content-wrap {
    @include xl(margin-top, 43px);
    @include xs(margin-top, 0);
    margin-top: 58px;

    .c-benefits__tab-button {
      display: none;
      margin: 0;
      //border-bottom: 3px solid $color-primary;
      background-color: $color-primary-light;
      cursor: pointer;
      line-height: 50px;
    }
  }

  .is-large {
    color: $color-dark-grey;
  }

  .u-title {
    @include md(text-align, center);
  }
}
