.c-business-features {

  &__row {
    display: flex;
    max-width: 1240px;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  &__col {
    @include col();
    @include size(6);
    @include size-sm(12);
    display: flex;
    margin-bottom: 100px;

    @include xs-block() {
      // flex-wrap: wrap;
      flex-direction: column;
      text-align: center;
      align-items: center;
      margin-bottom: 40px;
    }
  }

  &__content {
    // position: relative;
    margin-top: 30px;
    margin-left: 30px;
    font-family: Mukta;
    max-width: 250px;
    text-align: left;

    @include xs-block() {
      margin-left: 0;
      max-width: none;
      text-align: center;
    }
  }

  &__title {
    font-weight: 800;
    font-size: 20px;
    line-height: 130%;
    text-transform: uppercase;
    color: $color-dark-grey;
    margin-bottom: 12px;
  }

  &__text {
    font-size: 14px;
    line-height: 23px;
    color: $color-dark-grey;
  }
}
