.c-business-hero {

  &__row {
    @include row-flex();
  }

  &__text {
    padding-left: 130px;
    // padding-right: 30px;

    @include xl(padding-left, 0);
  }

  &__img {
    text-align: center;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__col {
    @include col();
    @include size(6);
    @include size-sm(12);
    position: relative;
    z-index: 1;
    // @include md(margin-right, 20px);
    // @include md-block() {

    // }
  }
}
