.c-business-info {
  background-color: $color-white;
  border-radius: 40px;
  box-shadow: $card-shadow;
  border: 1px solid $color-semi-white;
  padding: 100px 145px;

  @include md(padding, 50px);
  @include xs(padding, 20px);

  &__box {

  }

  &__content {
    margin: 65px 0;
    padding-top: 65px;
    border-top: 1px solid $color-light;
    @include row-flex();

    @include sm-block() {
      margin: 30px 0;
      padding-top: 30px;
    }
  }

  &__boxtitle {
    font-size: 28px;
    line-height: 33px;
    text-transform: uppercase;
    color: $color-dark-grey;
    font-weight: 800;
    font-family: 'Mukta';
    max-width: 500px;

    @include sm-block() {
      text-align: center;
      margin-bottom: 20px;
    }
  }

  &__ul {

  }

  &__li {
    font-size: 20px;
    line-height: 120%;
    padding: 10px 0 10px 40px;
    color: $color-dark-grey;
    position: relative;

    &:after {
      position: absolute;
      top: 13px;
      left: 0;
      border: 7px solid transparent;
      border-left: 12px solid $color-grey-light;
      width: 0;
      height: 0;
      content: "";
    }
  }

  &__col {
    @include col();
    @include size(6);
    @include size-sm(12);
  }
}
