.c-cookie {
  @include lg(padding, 25px 102px);
  @include md-block() {
    flex-direction: column;
    padding: 15px 60px;
    text-align: center;
  }
  @include xs(padding, 10px);
  display: flex;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  background-color: $color-dark-grey;
  padding: 25px 200px;

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .is-medium {
    @include md(padding-right, 0);
    padding-right: 20px;
    color: $color-white;
  }

  .u-btn {
    @include xl(margin-right, 20px);
    @include md-block() {
      margin-top: 20px;
      margin-right: 0;
    }
    margin-right: 100px;
    padding: 17px 38px;
  }
}
