.c-copyright {
  @include xl(margin-top, 120px);
  @include xs(margin-top, 50px);
  margin-top: 165px;
  background-color: $color-dark-grey;
  height: 82px;
  text-transform: uppercase;
  line-height: 23px;
  color: $color-white;
  font-family: 'Mukta';
  font-size: 14px;
  font-weight: bold;

  .u-container {
    @include xs-block() {
      flex-direction: column;
      justify-content: space-around;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  .is-grey {
    color: $color-medium-grey;

    a {
      color: $color-white;
    }
  }
}
