.c-editor {

  p {
    @include md-block() {
      margin-bottom: 20px;
      line-height: 25px;
      font-size: 16px;
    }
    @include xs-block() {
      margin-bottom: 10px;
      line-height: 22px;
      font-size: 14px;
    }
    margin-bottom: 30px;
    line-height: 33px;
    color: $color-dark-grey;
    font-family: 'Mukta';
    font-size: 20px;
  }

  strong {
    text-transform: uppercase;
  }

  ul {
    margin-bottom: 30px;
    text-align: left;
    list-style-type: disc;

    li {
      @include md-block() {
        line-height: 25px;
        font-size: 16px;
      }
      @include xs-block() {
        line-height: 22px;
        font-size: 14px;
      }
      line-height: 28px;
      font-family: 'Mukta';
      font-size: 18px;
    }
  }

  ol {
    margin-bottom: 30px;
    text-align: left;
    list-style-type: decimal;

    li {
      @include md-block() {
        line-height: 25px;
        font-size: 16px;
      }
      @include xs-block() {
        line-height: 22px;
        font-size: 14px;
      }
      line-height: 28px;
      font-family: 'Mukta';
      font-size: 18px;
    }
  }

  h1 {
    @include lg-block() {
      line-height: 76px;
      font-size: 38px;
    }
    @include sm-block() {
      line-height: 72px;
      font-size: 36px;
    }
    text-align: left;
    text-transform: uppercase;
    line-height: 80px;
    color: $color-dark-grey;
    font-family: 'Mukta';
    font-size: 40px;
    font-weight: bold;
  }

  h2 {
    @include lg-block() {
      line-height: 68px;
      font-size: 34px;
    }
    @include sm-block() {
      line-height: 64px;
      font-size: 32px;
    }
    text-align: left;
    text-transform: uppercase;
    line-height: 72px;
    color: $color-dark-grey;
    font-family: 'Mukta';
    font-size: 36px;
    font-weight: bold;
  }

  h3 {
    @include lg-block() {
      line-height: 60px;
      font-size: 30px;
    }
    @include sm-block() {
      line-height: 56px;
      font-size: 28px;
    }
    text-align: left;
    text-transform: uppercase;
    line-height: 64px;
    color: $color-dark-grey;
    font-family: 'Mukta';
    font-size: 32px;
    font-weight: bold;
  }

  h4 {
    @include lg-block() {
      line-height: 56px;
      font-size: 28px;
    }
    @include sm-block() {
      line-height: 52px;
      font-size: 26px;
    }
    text-align: left;
    line-height: 60px;
    color: $color-dark-grey;
    font-family: 'Mukta';
    font-size: 30px;
    font-weight: bold;
  }

  h5 {
    @include lg-block() {
      line-height: 28px;
      font-size: 24px;
    }
    @include sm-block() {
      line-height: 44px;
      font-size: 22px;
    }
    text-align: left;
    line-height: 52px;
    color: $color-dark-grey;
    font-family: 'Mukta';
    font-size: 26px;
    font-weight: bold;
  }

  h6 {
    @include lg-block() {
      line-height: 40px;
      font-size: 20px;
    }
    @include sm-block() {
      line-height: 36px;
      font-size: 18px;
    }
    text-align: left;
    line-height: 44px;
    color: $color-dark-grey;
    font-family: 'Mukta';
    font-size: 22px;
    font-weight: bold;
  }

  .wp-block-image {
    text-align: center;

    figcaption {
      line-height: 33px;
      font-family: 'Mukta';
      font-size: 20px;
    }
  }

  .wp-block-quote {

    p {
      @include md-block() {
        line-height: 25px;
        font-size: 16px;
      }
      @include xs-block() {
        line-height: 22px;
        font-size: 14px;
      }
      margin: 0;
      padding: 0;
      line-height: 28px;
      font-family: 'Mukta';
      font-size: 18px;
      font-style: italic;
    }

    cite {
      @include md-block() {
        line-height: 25px;
        font-size: 16px;
      }
      @include xs-block() {
        line-height: 22px;
        font-size: 14px;
      }
      margin: 0;
      padding: 0;
      line-height: 28px;
      font-family: 'Mukta';
      font-size: 18px;
      font-weight: bold;
      font-style: italic;
    }
  }
}
