.c-features {

  &__row {
    @include row-flex();
    @include xs(flex-direction, column);
    margin: 0;
  }

  &__row:nth-child(even) {

    .c-features__col {

      &:first-child {
        @include xs(order, 1);
        order: 2;
      }

    }

    .c-features__col {

      &:last-child {
        @include xs(order, 2);
      }
    }
  }

  &__col {
    @include xs(width, 100%);
    margin: 0;
    width: 50%;

    &.is-content {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__content {
    @include md(max-width, 265px);
    @include  xs-block() {
      padding: 0 10px;
      max-width: unset;
    }
    max-width: 455px;
  }

  &__image-box {
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__icon {
    @include xl(margin-bottom, 43px);
    @include md-block() {
      margin-bottom: 20px;
      width: 70px;
    }
    @include xs(margin, 10px auto);
    margin-bottom: 55px;

    img {
      @include md(width, 100%);
    }
  }

  .u-title {
    @include xl(margin-bottom, 21px);
    @include md(margin-bottom, 12px);
    @include xs(text-align, center);
    margin-bottom: 25px;
  }

  .u-text {
    @include xs(margin-bottom, 10px);
  }
}
