.c-features-card {
  @include col();
  @include size(4);
  @include size-xl(6);
  @include size-sm(10);
  @include xl-block() {
    margin-right: 20px;
    margin-left: 20px;
    max-width: 402px;
  }
  @include xl-block() {
    margin-right: 10px;
    margin-left: 10px;
  }
  @include sm(margin-bottom, 20px);
  @include xs(height, 100px);
  display: flex;
  margin-right: 35px;
  margin-bottom: 40px;
  margin-left: 35px;
  border-radius: 20px;
  box-shadow: $features-card-shadow;
  background: $color-white;
  max-width: 430px;
  height: 160px;

  &__img {
    @include xs-block() {
      flex-shrink: 0;
      align-self: center;
      margin-left: 15px;
      min-width: unset;
      max-width: 50px;
    }
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 111px;

    img {
      @include xs(width, 100%);
    }
  }

  &__text {
    @include md-block() {
      padding-right: 15px;
      padding-left: 15px;
    }
    @include xs-block() {
      text-align: left;
    }
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding-right: 52px;
    padding-left: 30px;
  }
}
