.c-hero {
  @include xl-block() {
    padding-top: 38px;
    padding-bottom: 50px;
  }
  @include md(align-items, center);
  @include xs-block() {
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 20px;
  }
  display: flex;
  padding-top: 88px;
  padding-bottom: 100px;

  &__content {
    @include xl(margin-left, 100px);
    @include md(margin-left, 40px);
    @include xs-block() {
      order: 2;
      margin-left: 0;
    }
    display: flex;
    flex-direction: column;
    margin-left: 130px;
    max-width: 475px;
  }

  &__side {
    @include xl(margin-left, 60px);
    @include md(margin-left, 40px);
    @include xs-block() {
      margin: 0 auto;
      margin-top: 15px;
      max-width: 300px;
    }
    @include xs(max-width, 260px);
    @include xxs(max-width, 230px);
    flex-grow: 1;
    margin-left: 170px;

    img {
      width: 100%;
    }
  }

  .u-title {
    @include xl(margin-bottom, 15px);
    @include xs(margin-bottom, 5px);
    margin-bottom: 30px;
  }

  .u-text {
    @include xl(margin-bottom, 35px);
    @include xs-block() {
      margin: 0 auto;
      margin-bottom: 35px;
      max-width: 300px;
    }
    @include xs(margin-bottom, 15px);
    margin-bottom: 55px;
    color: $color-white;
  }

  .u-btn {
    padding: 17px 38px;
  }
}
