.c-how {
  @include xl(margin-left, 0);
  @include sm-block() {
    flex-direction: column;
    align-items: center;
  }
  display: flex;
  margin-left: 9.4%;

  &__content {
    @include xl(margin-left, 88px);
    @include md(margin-left, 30px);
    @include sm(margin-left, 0);
    order: 2;
    margin-left: 145px;
  }

  &__cards {
    @include xl(margin-top, 70px);
    @include lg(margin-top, 40px);
    @include sm-block() {
      justify-content: center;
      max-width: 500px;
    }
    @include xs(max-width, 300px);
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
  }

  &__card {
    @include xl-block() {
      margin-right: 28px;
      margin-bottom: 30px;
    }
    @include lg(padding, 20px);
    @include md(width, 220px);
    position: relative;
    margin-right: 60px;
    margin-bottom: 40px;
    border-radius: 20px;
    box-shadow: $card-shadow;
    background: $color-white;
    padding: 35px;
    width: 290px;

    &-number {
      @include lg(font-size, 215px);
      @include md(font-size, 190px);
      position: absolute;
      bottom: -46px;
      left: 10px;
      z-index: 1;
      color: $how-number-color;
      font-family: 'Mukta';
      font-size: 230px;
      font-weight: 600;
    }

    &-title {
      position: relative;
      left: 0;
      transition: all 0.8s ease;
      z-index: 2;
      text-transform: uppercase;
      line-height: 40px;
      color: $how-text-color;
      font-family: 'Mukta';
      font-size: 24px;
      font-weight: bold;
    }

    &-features {
      position: relative;
      z-index: 2;

      li {
        position: relative;
        transition: all 0.8s ease;
        padding-left: 20px;
        color: $how-text-color;

        &::before {
          @include pseudo();
          top: 13px;
          left: 3px;
          transition: all 0.8s ease;
          background-color: $how-text-color;
          width: 4px;
          height: 4px;
        }
      }
    }

    &:hover {

      .c-how__card-title {
        left: 45px;
        color: $color-red;
      }

      .c-how__card-features {

        li {
          color: $color-dark-grey;

          &::before {
            background-color: $color-red;
          }
        }
      }
    }

    &:nth-child(even) {
      @include sm(margin-right, 0);
    }

    &:nth-child(odd) {
      @include xs(margin-right, 0);
    }
  }

  &__side {
    @include xl-block() {
      padding: 10px;
    }
    @include lg(width, 400px);
    @include sm-block() {
      margin-bottom: 35px;
      width: 200px;
    }
    background-color: transparent;
    background-image: url('../images/phone-wrap.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    padding: 15px 29px;
    width: 495px;

    img {
      position: relative;
      z-index: -1;
      max-width: 100%;
    }
  }

  .u-title {
    @include sm(text-align, center);
  }
}
