.c-info-bubbles {
  @include xl-block() {
    padding-right: 60px;
    padding-left: 60px;
  }
  @include lg-block() {
    padding-right: 40px;
    padding-left: 40px;
  }
  @include md-block() {
    margin: 0;
    padding: 50px 20px 30px;
  }
  @include sm(padding, 30px 0 10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  box-shadow: $info-box-shadow;
  background-color: $color-primary;
  padding: 83px 140px 130px;
  box-sizing: border-box;

  &__content {
    @include md-block() {
      flex-wrap: wrap;
      justify-content: center;
    }
    display: flex;
  }

  &__card {
    @include md-block() {
      margin-bottom: 30px;
      width: 33.333333%;
    }
    @include xs(width, 100%);
    padding: 0 15px;
    width: 20%;
  }

  &__text {
    @include md-block() {
      line-height: 15px;
      font-size: 12px;
    }
    text-align: center;
    line-height: 23px;
    color: $color-white;
    font-family: 'Mukta';
    font-size: 14px;
  }

  &__icon {
    text-align: center;
  }

  .u-title {
    @include md(margin-bottom, 20px);
    margin-bottom: 61px;
    text-align: center;
    color: $color-white;
  }

}
