.c-info-box {
  @include md-block() {
    margin: 0 50px;
    padding: 80px;
  }
  @include sm(padding, 30px 10px);
  @include xs(margin, 0 10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  box-shadow: $info-box-shadow;
  background-color: $color-primary;
  padding: 83px 50px 101px;
  box-sizing: border-box;

  &__title {
    margin-bottom: 14px;
    text-align: center;
    text-transform: uppercase;
    line-height: 33px;
    color: $color-white;
    font-family: 'Mukta';
    font-size: 28px;
    font-weight: 800;
  }

  .u-text {
    @include xs(margin-bottom, 30px);
    margin-bottom: 58px;
    text-align: center;
    color: $color-white;
  }

  .u-btn {
    @include xs-block() {
      padding: 17px 0;
      width: 90%;
    }
    @include xxs(padding, 10px 0);
  }
}
