.c-info {
  @include xl-block() {
    padding: 176px 0 120px;
    width: 55%;
  }
  @include md-block() {
    padding: 10px 0 70px;
    width: 100%;
    text-align: center;
  }
  padding: 261px 0 256px;
  width: 50%;

  &__side {
    @include xs(display, block);
    display: none;

    img {
      width: 100%;
    }
  }

  .u-title {
    @include md(margin-bottom, 20px);
    margin-bottom: 50px;
    color: $color-white;
  }

  .u-text {
    @include md-block() {
      margin: 0 auto 30px;
      max-width: 500px;
    }
    margin-bottom: 53px;
    color: $color-white;
  }
}
