.c-join {
  @include xl(padding, 110px 216px 102px);
  @include md-block() {
    margin: 0 50px;
    padding: 80px;
  }
  @include sm(padding, 30px);
  @include xs(margin, 0 10px);
  border: 1px solid $color-semi-white;
  border-radius: 40px;
  box-shadow: $card-shadow;
  padding: 110px 239px 102px;
  box-sizing: border-box;

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__label {
    @include md(width, 85%);
    @include sm(margin-bottom, 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }

  .u-title {
    @include sm(margin-bottom, 5px);
    margin-bottom: 40px;
    text-align: center;
  }

  .u-text {
    @include sm(margin-bottom, 10px);
    margin-bottom: 27px;
    text-align: center;
  }

  .u-btn {
    @include  xl(width, 236px);
    width: 260px;
  }
}
