.c-main {
  @include row-flex();
  @include sm-block() {
    flex-direction: column;
    align-items: center;
  }
  align-items: flex-start;

  &__content {
    @include col();
    @include  size(6);
    @include  size-sm(10);
    @include  size-xs(12);
    @include xl(padding-left, 15px);
    @include lg(padding-left, 115px);
    @include md(padding-left, 0);
    @include xs(margin-top, 15px);
    @include xxs(margin-top, 0);
    margin-top: 36px;
    padding-left: 30px;
    color: $color-dark-grey;
    font-family: 'Mukta';
  }

  &__title {
    @include xl(max-width, 330px);
    @include md(margin-bottom, 20px);
    @include sm-block() {
      line-height: 75px;
      font-size: 70px;
    }
    @include xs-block() {
      margin-bottom: 15px;
      line-height: 50px;
      font-size: 50px;
    }
    display: flex;
    align-items: flex-end;
    margin-bottom: 59px;
    max-width: 440px;
    min-height: 190px;
    text-transform: uppercase;
    line-height: 85px;
    font-size: 84px;
    font-weight: 800;
  }

  &__text {
    @include xl(max-width, 330px);
    @include xs(text-align, left);
    max-width: 450px;

    b {
      @include xs-block() {
        line-height: 20px;
        font-size: 17px;
      }
      text-transform: uppercase;
      line-height: 60px;
      font-size: 20px;
      font-weight: 800;
    }
  }

  &__side {
    @include col();
    @include  size(6);
    @include  size-sm(8);
    @include  size-xs(10);
    @include md(margin-top, 115px);
    @include sm(margin-top, 30px);
    @include xs(margin-top, 10px);
    display: flex;
    justify-content: center;
    margin-top: 50px;

    img {
      @include lg(width, 100%);
    }
  }
}
