// sass-lint:disable nesting-depth

.c-menu {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;

  &__item {
    @include xl(padding-right, 47px);
    @include lg(padding-right, 37px);
    padding: 10px 0;
    padding-right: 57px;

    &:last-child {
      padding-right: 108px;
    }
  }

  &__link {
    transition: all 0.4s ease;
    text-transform: uppercase;
    line-height: 30px;
    color: $color-black;
    font-family: 'Mukta';
    font-size: 18px;
    font-weight: 600;

    &:hover {
      color: $color-red;
    }
  }

  &.is-separator {
    flex-grow: 0;
    //margin-left: 108px;

    .c-menu__item {

      &:first-child {
        position: relative;
        padding-right: 42px;

        &:after {
          @include pseudo();
          top: 10px;
          right: 21px;
          bottom: 15px;
          background-color: $separator-color;
          width: 1px;
        }
      }

      &:last-child {
        padding-right: 10px;
      }
    }
  }

  &.is-footer {
    @include row-flex();
    @include md(justify-content, center);
    @include xs-block() {
      margin: 0 auto;
      margin-top: 50px;
      width: 100%;
    }
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 85px;

    .c-menu__item {
      @include col();
      @include size(3);
      @include md(width, 250px);
      @include shift-xs-left(2);
      padding: 0;
    }

    .c-menu__link {
      line-height: 25px;
      color: $color-white;
      font-size: 15px;
      font-weight: 800;

      &:hover {
        color: $color-red;
      }
    }

    .c-menu__svg {
      @include xl-block() {
        width: 18px !important;
        height: 18px !important;
      }
      margin-right: 15px;
      fill: $color-dark-grey;
    }

    .c-menu {
      flex-direction: column;
      margin-top: 0;
      width: 100%;

      .c-menu__item {
        @include shift-xs-left(0);
        @include xs(margin-bottom, 8px);
        transition: all 0.4s ease;
        margin-bottom: 20px;
        width: 100%;
        text-transform: uppercase;
        line-height: 25px;
        color: $color-white;
        font-family: 'Mukta';
        font-size: 15px;
        font-weight: 800;

        &:hover {
          color: $color-red;
        }

        & > a {
          display: flex;
          align-items: center;
        }
      }
    }

    .is-root {
      @include xs(line-height, 1);
      font-size: 0;

      &::before {
        @include pseudo();
        @include xl(width, 182px);
        background-color: $color-dark-grey;
        width: 243px;
        height: 2px;
      }
    }
  }

  &.is-policy {
    @include  sm-block() {
      flex-direction: column;
      align-items: center;
    }
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;

    .c-menu__item {
      @include md(padding-right, 0);
      @include sm(padding, 5px 0);
      padding-right: 40px;

      &:hover {

        .c-menu__link {
          color: $color-red;
        }
      }
    }

    .c-menu__link {
      @include md-block() {
        line-height: 25px;
        font-size: 16px;
      }
      line-height: 33px;
      color: $color-white;
      font-size: 20px;
    }
  }
}
