.c-mob-icon {
  @include md(display, block);
  display: none;
  position: absolute;
  right: 10px;
  outline: none;
  cursor: pointer;
  padding: 8px;
  user-select: none;

  &__line {
    display: block;
    border-radius: 50px;
    background-color: $color-dark;
    width: 30px;
    height: 4px;

    &:nth-child(2) {
      margin: 6px 0;
    }
  }
}
