.c-mob-menu {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  z-index: 1000;
  background-color: $modal-bg-color;

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    fill: $color-white;
  }

  &.is-active {
    visibility: visible;
    opacity: 1;
  }

  .c-menu {
    flex-direction: column;
    justify-content: center;

    &__link {
      color: $color-white;
    }

    &__item {
      border-bottom: 2px solid $color-white;
      padding-right: 0;
      min-width: 200px;
      text-align: center;

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  .is-separator {
    flex-direction: row;

    .c-menu__item {
      border-bottom: 0;
      min-width: unset;
    }
  }
}
