.c-policy-menu {
  @include xl(top, 70px);
  @include md-block() {
    padding-bottom: 10px;
    height: 110px;
  }
  @include sm-block() {
    top: 50px;
    padding-bottom: 0;
    height: auto;
  }
  position: fixed;
  top: 100px;
  right: 0;
  left: 0;
  background-color: $color-dark-grey;
  padding-bottom: 23px;
  height: 147px;

  .u-container {
    height: 100%;
  }
}
