.c-team {
  font-family: 'Mukta';

  &__content {
    @include xl(margin-bottom, 68px);
    @include sm-block() {
      flex-direction: column;
      align-items: center;
    }
    display: flex;
    justify-content: center;
    margin-bottom: 130px;
  }

  &__person {
    @include xl(margin, 0 20px);
    @include sm(margin-bottom, 40px);
    position: relative;
    transition: all 0.6s ease;
    margin: 0 62px;
    border: 1px solid $color-semi-white;
    border-radius: 15px;
    width: 267px;
    overflow: hidden;

    &:hover {
      box-shadow: $team-card-shadow;

      .c-team__card {
        transform: translateY(-100%);
        pointer-events: none;
      }

      .c-team__bio {
        bottom: 100%;
      }
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    transform: translateY(0);
    transition: all 0.6s ease;
    padding: 16px 15px 25px;
    height: 100%;
    box-sizing: border-box;
  }

  &__photo {
    margin-bottom: 20px;

    img {
      width: 100%;
    }
  }

  &__name {
    @include md(font-size, 17px);
    margin-bottom: 10px;
    text-transform: uppercase;
    line-height: 130%;
    color: $color-dark-grey;
    font-size: 20px;
    font-weight: 800;
  }

  &__position {
    @include md(font-size, 14px);
    line-height: 27px;
    color: $color-primary;
    font-size: 16px;
  }

  &__bio {
    position: absolute;
    bottom: 7px;
    transform: translateY(100%);
    transition: all 0.6s ease;
    border: 1px solid $color-primary-light;
    height: 100%;
    box-sizing: border-box;
    pointer-events: none;

    &-head {
      background-color: $color-primary;
      padding: 30px 30px 20px;
      text-transform: uppercase;
      line-height: 130%;
      color: $color-white;
      font-size: 20px;
      font-weight: 800;
    }

    &-content {
      padding: 15px 30px;
      text-align: left;
      line-height: 23px;
      font-size: 14px;
    }
  }

  &__button {
    text-align: center;
  }

  .u-title {
    @include lg(margin-bottom, 100px);
    @include md(margin-bottom, 50px);
    margin-bottom: 149px;
    text-align: center;
  }
}
