.c-videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 737px;
  overflow: hidden;
  font-family: 'Mukta';

  &__card {
    @include xl(max-width, 231px);
    @include lg(max-width, 295px);
    @include md(margin, 0 10px 40px);
    margin-bottom: 40px;
    border: 1px solid $color-semi-white;
    border-radius: 15px;
    box-shadow: $main-input-shadow;
    background-color: $color-white;
    padding: 10px 13px;
    max-width: 295px;
    box-sizing: border-box;

    iframe {
      border-radius: 5px;
      box-shadow: $video-shadow;
      width: 100% !important;
      height: auto !important;
    }
  }

  &__date {
    @include xl-block() {
      margin-right: 15px;
      margin-left: 15px;
    }
    margin: 17px 19px 9px;
    text-transform: uppercase;
    line-height: 23px;
    color: $date-color;
    font-size: 14px;
    font-weight: 600;
  }

  &__box {
    position: relative;

    &::after {
      @include pseudo();
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 10;
      background-color: transparent;
    }
  }

  &__text {
    @include xl-block() {
      margin-right: 15px;
      margin-left: 15px;
    }
    margin: 0 19px;
    line-height: 23px;
    color: $color-dark-grey;
    font-size: 14px;
  }

  .mCSB_scrollTools {

    .mCSB_dragger {

      .mCSB_dragger_bar {
        border-radius: 30px;
        background-color: $scroll-track-color !important;
        width: 10px;
      }
    }

    .mCSB_draggerRail {
      border-radius: 30px;
      background: $how-number-color;
      width: 10px;
    }
  }

  .mCSB_container {
    @include md-block() {
      justify-content: space-around;
    }
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
