.u-bounce-in-right {
  animation-name: bounceInRight;
  visibility: visible;
  opacity: 1;
  -webkit-animation-name: bounceInRight;
}

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    transform: translate3d(3000px, 0, 0);
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
  }

  60% {
    transform: translate3d(-25px, 0, 0);
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
  }

  75% {
    transform: translate3d(10px, 0, 0);
    -webkit-transform: translate3d(10px, 0, 0);
  }

  90% {
    transform: translate3d(-5px, 0, 0);
    -webkit-transform: translate3d(-5px, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
}
