.u-zoom-in {
  animation-name: zoomIn;
  visibility: visible;
  opacity: 1;
  -webkit-animation-name: zoomIn;
}

@keyframes zoomIn {
  from {
    transform: scale3d(0.3, 0.3, 0.3);
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
