.p-policy {
  @include lg(padding-top, 217px);
  @include md(padding-top, 180px);
  @include sm(padding-top, 225px);
  padding-top: 247px;

  .u-title {
    @include md(margin, 40px 0 50px);
    @include sm(margin, 20px 0 30px);
    @include xxs(margin, 15px 0);
    margin: 60px 0 83px;
  }
}
