.l-articles {
  @include xl(margin-bottom, 130px);
  @include lg(margin-bottom, 110px);
  @include sm-block() {
    margin-bottom: 50px;
    padding-top: 30px;
  }
  @include xs(padding-top, 20px);
  margin-bottom: 230px;
  padding-top: 58px;

  .is-tight {
    max-width: 1040px;
  }
}
