.l-business-info {
  background: $gradient-blue-white;

  .u-title {
    color: $color-blue;
    text-align: center;
    margin: 50px 0;
  }

  .u-text {
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: $color-dark-grey;
    max-width: 950px;
    margin: 0 auto;
  }

  .c-business-info {
    position: relative;
    top: -65px;
  }

  .u-container {
    @include xs(text-align, left);
  }
}
