.l-business-hero {
  margin-top: 100px;
  padding-top: 120px;

  @include xl(margin-top, 70px);
  @include sm(margin-top, 50px);
  @include sm-block() {
    margin-top: 50px;
    padding-top: 0;
  }

  .u-title {
    font-size: 84px;
    line-height: 100%;
    color: $color-dark-grey;
    margin: 30px 0;

    @include md(font-size, 60px);
    @include sm(font-size, 52px);
    @include xs(font-size, 35px);
  }

  .u-text {
    font-size: 24px;
    line-height: 170%;
    color: $color-dark-grey;
    @include xs(font-size, 18px);
  }

  .c-business-hero__text {
    padding-bottom: 60px;
    @include sm(text-align, center);
  }
}
