.l-business-features {
  padding-bottom: 250px;
  text-align: center;

  @include xs(padding-bottom, 50px);

  .u-title {
    color: $color-dark-grey;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 150px;
    max-width: 620px;
    margin: 0 auto;

    @include xs-block() {
      padding-top: 0;
      padding-bottom: 50px;
    }
  }
}
