.l-main-footer {
  @include xl(padding-top, 88px);
  @include xs(padding-top, 50px);
  background-color: $color-dark;
  padding-top: 117px;

  &__logo {
    display: block;

    img {
      @include xl(width, 80px);
      @include xs(width, 60px);
    }
  }

  .u-container {
    @include md(max-width, 660px);
    @include xs(max-width, unset);
  }
}
