.l-main-header {
  @include xl(height, 70px);
  @include sm(height, 50px);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  background-color: $color-white;
  width: 100%;
  height: 100px;

  &__logo {
    @include md(height, 100%);
    display: block;
    padding: 5px;

    img {
      @include xl(width, 80px);
      @include xs(width, 60px);
    }
  }

  .u-container {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .c-menu {
    @include md(display, none);
  }

  &.is-simple {
    @include xl(padding-top, 50px);
    display: flex;
    position: static;
    justify-content: center;
    padding-top: 100px;
    height: auto;
  }
}
