.l-how {
  @include xl(padding, 95px 0 100px);
  @include lg(padding, 60px 0 70px);
  @include md(padding, 45px 0 50px);
  @include xs-block() {
    background-repeat: no-repeat;
    background-position-y: bottom;
  }
  padding: 210px 0 220px;
}
