.l-info {
  @include md-block() {
    display: flex;
    flex-direction: column;
  }
  position: relative;

  &__side {
    @include md-block() {
      position: static;
      width: 100%;
    }
    @include xs(display, none);
    position: absolute;
    right: 0;
    bottom: -152px;
    width: 50%;
    overflow: hidden;

    img {
      @include xl(width, 155%);
      @include md(width, 100%);
    }
  }

  .u-container {
    @include md(order, 2);
  }
}
