.l-info-bubbles {
  @include xl(padding, 50px 0 64px);
  @include md(padding, 20px 0 40px);
  padding-top: 100px;
  padding-bottom: 73px;
  overflow: hidden;

  .is-wide {
    @include xl(max-width, 1200px);
    @include lg(max-width, 1080px);
    max-width: 1430px;
  }
}
