.l-info-box {
  @include xl(padding, 50px 0 130px);
  @include md(padding, 20px 0 80px);
  padding-top: 100px;
  padding-bottom: 197px;
  overflow: hidden;

  .is-wide {
    @include  lg(max-width, 1080px);
    max-width: 1140px;
  }
}
