.l-join {
  @include md(padding-bottom, 150px);
  @include sm(padding-bottom, 100px);
  padding-bottom: 250px;
  overflow: hidden;

  .is-wide {
    @include  xl(max-width, 1068px);
    max-width: 1180px;
  }
}
