.l-main {
  @include xl(padding-bottom, 50px);
  @include md-block() {
    padding-top: 101px;
    background-position-y: -100px;
  }
  @include sm-block() {
    padding-top: 41px;
    background-position-y: -160px;
  }
  @include xs-block() {
    padding-top: 0;
    padding-bottom: 25px;
    background-position-y: -215px;
  }
  @include xxs(background-position-y, -230px);
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 60px;
}
