.l-news-hero {
  @include xl(paddimg-top, 70px);
  @include sm(paddimg-top, 50px);
  background-repeat: no-repeat;
  padding-top: 100px;

  &__title {
    @include xl(max-width, 330px);
    @include md(margin-bottom, 20px);
    @include sm-block() {
      line-height: 75px;
      font-size: 70px;
    }
    @include xs-block() {
      margin-bottom: 15px;
      line-height: 50px;
      font-size: 50px;
    }
    display: flex;
    align-items: flex-end;
    margin-bottom: 59px;
    max-width: 440px;
    min-height: 158px;
    text-transform: uppercase;
    line-height: 85px;
    font-size: 84px;
    font-weight: 800;
  }
}
