// ----------------------------
// Параметры сайта
// ----------------------------
$default-font-size: 16px;

// ----------------------------
// Параметры контейнера
// ----------------------------
$container-lg: 1105px;
$container-md: 94%;
$container-sm: 85%;

// ----------------------------
// Основные цвета
// ----------------------------
$color-neon-green: #0d5;
$color-black: #000;
$color-dark: #333;
$color-white: #fff;
$color-semi-white: #f1f1f1;
$color-grey: #979797;
$color-red: #ff2800;
$color-blue: #41b3c2;
$color-dark-grey: #4a4a4a;
$color-medium-grey: #676767;
$color-light-grey: #ddd;
$color-primary: #ff7e7e;
$color-primary-light: #fbd5d5;
$color-secondary: #41b3c2;
$color-black-opacity: rgba(255, 255, 255, 0);
$color-light: #f6f6f6;
$color-grey-light: #c5dcdd;

$separator-color: #eee;
$how-text-color: #d1d1d1;
$how-number-color: #f7f7f7;
$tabs-disable-color: #c4c4c4;
$date-color: #c1c1c1;
$scroll-track-color: #e0e0e0;
$modal-bg-color: rgba(0, 0, 0, 0.8);

$default-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
$btn-primary-shadow: 0 40px 50px rgba(121, 19, 0, 0.2);
$btn-default-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
$btn-info-shadow: 0 20px 50px rgba(65, 179, 194, 0.25);
$features-card-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
$card-shadow: 0 4px 15px rgba(191, 191, 191, 0.2);
$info-box-shadow: 0 20px 50px rgba(140, 40, 40, 0.2);
$main-input-shadow: 0 20px 50px rgba(191, 191, 191, 0.2);
$team-card-shadow: 0 20px 50px rgba(255, 126, 126, 0.2);
$video-shadow: inset 0 4px 15px rgba(0, 0, 0, 0.3);

$gradient-blue-white: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #BAE3E9 100%);

$transition: 300ms cubic-bezier(0.25, 0.1, 0.25, 1);

$articles-gradient: linear-gradient(360deg, $color-white 20.96%, $color-white 46.68%, $color-black-opacity 91.46%);

// ----------------------------
// Media Breakpoints
// ----------------------------
$breakpoints: (
  'phone-small': 321px,
  'phone': 400px,
  'phone-wide': 480px,
  'phablet': 560px,
  'tablet-small': 640px,
  'tablet': 768px,
  'tablet-wide': 1024px,
  'desktop': 1248px,
  'desktop-wide': 1440px
);

// ----------------------------
// z-index priority
// ----------------------------
$z-indexes: (
  'outdated-browser',
  'modal',
  'site-header',
  'page-wrapper',
  'site-footer'
);
