{% extends "simple.twig" %}

{% block content %}
  <div class="c-404">
    <div class="c-404__title">{{ data.title }}</div>
    <div class="c-404__content">{{ data.content }}</div>
     <div>
      {% include 'templates/partial/link.twig' with {
        'class': 'u-btn is-primary',
        'url': data.back.url,
        'target': data.back.target,
        'title': data.back.title,
      } %}
    </div>
{#    <a href="#" class="u-btn is-primary">Return to main page</a>#}
  </div>
{% endblock %}
