{% block html_head_container %}

  {% include 'html-header.twig' %}
  {% block head %}
  {% endblock %}
  </head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">

    {% include 'templates/partial/icons.twig' %}
    {% include 'templates/partial/cookie.twig' with policy_banner %}

    <div class="p-base {% block page_modify %}{% endblock %}">
      <div class="u-flex-content">

        {% include 'header.twig' %}

        {% block content %}
          Sorry, no content
        {% endblock %}

      </div>
      {% block footer %}

        {% include 'footer.twig' %}

        {{ function('wp_footer') }}

      {% endblock %}
    </div>

    {% include 'templates/partial/mob-menu.twig' %}

  </body>
</html>
