<footer class="l-main-footer">
  <div class="u-container">
    <a class="l-main-footer__logo" href="{{ site.home_url }}"><img src="{{ logo_footer }}" alt=""></a>
    {% include "menu.twig" with {
      'menu': menu_footer.get_items,
      'footer': true,
      'socials_link': socials
    } %}
  </div>
  <div class="c-copyright">
    <div class="u-container">
      <div>{{ copyright }}</div>
      <div class="is-grey">{{ dev }}</div>
    </div>
  </div>
</footer>
