<header class="l-main-header">
  <div class="u-container">
    <a class="l-main-header__logo" href="{{ site.home_url }}"><img src="{{ logo }}" alt=""></a>
    {% include "menu.twig" with {'menu': menu.get_items} %}
    {% include "menu.twig" with {'menu': menu_auth.get_items, 'separator': true} %}
    <div class="c-mob-icon">
      <span class="c-mob-icon__line"></span>
      <span class="c-mob-icon__line"></span>
      <span class="c-mob-icon__line"></span>
    </div>
  </div>
</header>