{% if menu %}
  {% set modifier = '' %}
  {% if separator %} {% set modifier = ' is-separator' %} {% endif %}
  {% if footer %} {% set modifier = ' is-footer' ~ modifier %} {% endif %}
  {% if policy %} {% set modifier = ' is-policy' ~ modifier %} {% endif %}
	<ul class="c-menu{{ modifier }}">
	{% for item in menu %}
		<li class="c-menu__item {{ item.classes | join(' ') }}">
			<a class="c-menu__link{% if child != true %} is-root{% endif %}" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
      {% if footer %}
        {% include "menu.twig" with {'menu': item.children, 'child': true, 'socials_link': false} %}
      {% endif %}
		</li>
	{% endfor %}
  {% if socials_link %}
    <li class="c-menu__item">
      <a class="c-menu__link is-root" href="#">column 4</a>
      <ul class="c-menu">
        {% if socials_link.fb %}
        <li class="c-menu__item">
          <a href="{{ socials_link.fb }}">
            <svg width="24px" height="25px" class="c-menu__svg">
              <use xlink:href="#footer-fb"></use>
            </svg>
            facebook
          </a>
        </li>
        {% endif %}
        {% if socials_link.tw %}
        <li class="c-menu__item">
          <a href="{{ socials_link.tw }}">
            <svg width="24px" height="24px" class="c-menu__svg">
              <use xlink:href="#footer-twitter"></use>
            </svg>
            twitter
          </a>
        </li>
        {% endif %}
        {% if socials_link["in"] %}
        <li class="c-menu__item">
          <a href="{{ socials_link["in"] }}">
            <svg width="25px" height="25px" class="c-menu__svg">
              <use xlink:href="#footer-instagram"></use>
            </svg>
            instagram
          </a>
        </li>
        {% endif %}
        {% if socials_link.ln %}
        <li class="c-menu__item">
          <a href="{{ socials_link.ln }}">
            <svg width="25px" height="25px" class="c-menu__svg">
              <use xlink:href="#footer-linkedIn"></use>
            </svg>
            linkedIn
          </a>
        </li>
        {% endif %}
        {% if socials_link.medium %}
        <li class="c-menu__item">
          <a href="{{ socials_link.medium }}">
            <svg width="24px" height="20px" class="c-menu__svg">
              <use xlink:href="#footer-megium"></use>
            </svg>
            medium
          </a>
        </li>
        {% endif %}
      </ul>
    </li>
  {% endif %}
	</ul>
{% endif %}
