{% extends "builder.twig" %}

{% block content %}
<div class="l-info-page">
  {% for page_content in post.meta('page_content') %}
    <div class="l-info-page__box">
      {% if page_content.acf_fc_layout == 'main' %}
        {% include 'templates/partial/main.twig' with {'data': page_content} %}
      {% elseif page_content.acf_fc_layout == 'cards_list' %}
        {% include 'templates/partial/cards_list.twig' with {'data': page_content} %}
      {% elseif page_content.acf_fc_layout == 'info_box' %}
        {% include 'templates/partial/info_box.twig' with {'data': page_content} %}
      {% elseif page_content.acf_fc_layout == 'team' %}
        {% include 'templates/partial/team.twig' with {'data': page_content} %}
      {% elseif page_content.acf_fc_layout == 'info_bubbles' %}
        {% include 'templates/partial/info_bubbles.twig' with {'data': page_content} %}
      {% elseif page_content.acf_fc_layout == 'editor' %}
        {% include 'templates/partial/editor.twig' with {'data': page_content} %}
      {% elseif page_content.acf_fc_layout == 'join_form' %}
        {% include 'templates/partial/join.twig' with join %}
      {% endif %}
    </div>
  {% endfor %}
</div>

{% endblock %}
