{% block html_head_container %}

  {% include 'html-header.twig' %}
  {% block head %}
  {% endblock %}
  </head>
{% endblock %}

<body class="{{body_class}}" data-template="policy.twig">

{% include 'templates/partial/icons.twig' %}
{% include 'templates/partial/cookie.twig' with policy_banner %}

<div class="p-policy {% block page_modify %}{% endblock %}">
  <div class="u-flex-content">

    {% include 'header.twig' %}
    {% include 'templates/partial/policy-menu.twig' %}

    {% block content %}
      Sorry, no content
    {% endblock %}

  </div>
  {% block footer %}

    {% include 'footer.twig' %}

    {{ function('wp_footer') }}

  {% endblock %}
</div>

{% include 'templates/partial/mob-menu.twig' %}

</body>
</html>
