{% block html_head_container %}

  {% include 'html-header.twig' %}
  {% block head %}
  {% endblock %}
  </head>
{% endblock %}

<body class="{{ body_class }}" data-template="simple.twig">

<div class="p-simple {% block page_modify %}{% endblock %}">
  <header class="l-main-header is-simple">
    <a href="/"><img src="{{ logo }}" alt=""></a>
  </header>

  {% block content %}
    Sorry, no content
  {% endblock %}

  {% block footer %}
    {{ function('wp_footer') }}
  {% endblock %}
</div>

</body>
</html>
