{% extends "policy.twig" %}

{% block content %}
  <div class="u-container">
    <div class="u-title">{{ post.post_title }}</div>
    {% include 'templates/partial/editor.twig' with {'data': post.post_content} %}
  </div>
{% endblock %}
