{% extends "base.twig" %}

{% block content %}
  {% include 'templates/partial/hero.twig' with post.meta('hero') %}
  {% include 'templates/partial/how.twig' with post.meta('how') %}
  {% include 'templates/partial/features.twig' with {'features': post.meta('features')} %}
  {% include 'templates/partial/info.twig' with post.meta('info') %}
  {% include 'templates/partial/benefits.twig' with post.meta('benefits') %}
  {% include 'templates/partial/join.twig' with join %}
{% endblock %}
