{% extends "news.twig" %}

{% block content %}
  {% include 'templates/partial/news-hero.twig' with {'data' : post} %}
  {% include 'templates/partial/videos.twig' with {'videos' : videos} %}
  {% include 'templates/partial/articles.twig' with {'articles' : articles} %}
  {% include 'templates/partial/join.twig' with join %}
{% endblock %}
