{% extends "base.twig" %}

{% block content %}
  {% include 'templates/partial/business-hero.twig' with post.meta('hero') %}
  {% include 'templates/partial/business-info.twig' with post.meta('table') %}
  {% include 'templates/partial/business-features.twig' with post.meta('features') %}
{% endblock %}
