<div class="l-articles" data-aos="flip-up">
  <div class="u-container is-tight">
    <div class="c-articles">
      <div class="u-title">Articles</div>
      <div class="c-articles__box">
        {% for article in articles %}
          <a class="c-articles__item" href="{{ article.meta('link') }}">
            <img src="{{ article.thumbnail.src | resize(157, 119) }}" alt="Img for {{ article.post_title }}">
            <div class="c-articles__content">
              <span class="c-articles__date">{{ post.post_date | date('M d Y') }}</span>
              <p class="u-text is-medium">{{ article.post_title }}</p>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
