<div class="l-benefits">
  <div class="u-container">
    <div class="c-benefits">
      <div class="c-benefits__side" data-aos="zoom-in"><img src="{{ side_image }}" alt=""></div>
      <div class="c-benefits__content" data-aos="zoom-in-up">
        <div class="u-title">{{ title }}</div>
        <div class="c-benefits__tabs js-tabs">
          <div class="c-benefits__tabs-head">
            {% for tab in tabs %}
              <div
                class="c-benefits__tab-button u-text is-medium js-tabs-button{% if loop.index == 1 %} is-active{% endif %}"
                data-count="{{ loop.index }}">{{ tab.head }}</div>
            {% endfor %}
          </div>
          <div class="c-benefits__tabs-content-wrap u-text is-large">
            {% for tab in tabs %}
              <div class="c-benefits__tab-button u-text is-medium js-mob-tabs-button{% if loop.index == 1 %} is-active{% endif %}"
                   data-count="{{ loop.index }}">{{ tab.head }}</div>
              <div data-count="{{ loop.index }}"
                   style="{% if loop.index == 1 %} display: block;{% endif %}"
                   class="c-benefits__tabs-content js-tabs-content">
                {{ tab.content }}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
