<div class="l-business-hero">
  <div class="u-conainer">
    <div class="c-business-hero">
      <div class="u-container">
        <div class="c-business-hero__row">
          <div
            class="c-business-hero__col c-business-hero__text"
            data-aos="fade-up"
            data-aos-duration="1200"
          >
            <h1 class="u-title">{{ title }}</h1>
            <p class="u-text">{{ subtitle }}</p>
          </div>
          <div
            class="c-business-hero__col c-business-hero__img" data-aos="fade-down"
            data-aos="fade-up"
            data-aos-duration="1200"
          >
            <img src="{{ side_image }}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
