<div class="l-business-info">
  <div class="u-container">
    <div class="c-business-info">
      <h2 class="u-title is-subtitle">{{ title }}</h2>
      <div class="u-text">{{ subtitle }}</div>

      <div class="c-business-info__box">
        {% for row in rows %}
          <div class="c-business-info__content">
            <div class="c-business-info__col">
              <h2 class="c-business-info__boxtitle">{{ row.title }}</h2>
            </div>

            <div class="c-business-info__col">
              <ul class="c-business-info__ul" data-aos="fade-up" data-aos-duration="1000">
                {% for item in row.items %}
                  <li class="c-business-info__li">{{ item.text }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
