<div class="l-business-features" style="background: #BAE3E9 url('{{ background_image }}') center center no-repeat;">
  <div class="u-container">
    <div class="c-business-features">
      <h2 class="u-title">{{ title }}</h2>
      <div class="c-business-features__row">
        {% for item in items %}
          <div class="c-business-features__col" data-aos="fade-up" data-aos-delay="{{ loop.index0 * 100 }}">
            <img src="{{ item.icon }}" alt="">
            <div class="c-business-features__content">
              <h4 class="c-business-features__title">
                {{ item.title }}
              </h4>
              <div class="c-business-features__text">{{ item.text }}</div>
            </div>
          </div>
        {% endfor %}
      </div>
      {% include 'templates/partial/link.twig' with {
        'class': 'u-btn is-default',
        'url': button.url,
        'target': button.target,
        'title': button.title,
      } %}
    </div>
  </div>
</div>
