<div class="l-cards-list" >
  <div class="u-container">
    <div class="c-cards-list">
      <div class="u-title">{{ data.title }}</div>
      <div class="c-cards-list__content">
        {% for card in data.cards %}
          <div class="c-features-card" data-aos="fade-up" data-aos-delay="{{ loop.index0 * 100 }}">
            <div class="c-features-card__img">
              <img src="{{ card.icon }}" alt="">
            </div>
            <div class="c-features-card__text u-text is-small">{{ card.text }}</div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
