<div class="c-cookie js-cookie">
  <div class="c-cookie__text">
    <div class="u-text is-medium">{{ title }}</div>
    <div class="u-text is-medium">{{ text }}</div>
  </div>
  <button class="u-btn is-default js-btn">{{ button_text }}</button>
</div>
