<div class="l-features">
  <div class="c-features">
    {% for feature in features %}
    <div class="c-features__row">
      <div class="c-features__col">
        <div class="c-features__image-box">
          <img data-aos="zoom-in" src="{{ feature.side_image | resize(960, 960) }}" alt="">
        </div>
      </div>
      <div class="c-features__col is-content">
        <div
          class="c-features__content"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
          <div class="c-features__icon"><img src="{{ feature.icon }}" alt=""></div>
          <div class="u-title is-subtitle">{{ feature.title }}</div>
          <div class="u-text is-big">{{ feature.text }}</div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
