<section class="l-hero" style="background-image: url('{{ background_image }}');">
  <div class="u-container">
    <div class="c-hero">
      <div
        class="c-hero__content"
        data-aos="fade-up"
        data-aos-duration="1200"
      >
        <h1 class="u-title is-main">{{ title }}</h1>
        <div class="u-text is-big">{{ subtitle }}</div>
        <div class="c-hero__button">
          {% include 'templates/partial/link.twig' with {
            'class': 'u-btn is-attention',
            'url': button.url,
            'target': button.target,
            'title': button.title,
          } %}
        </div>
      </div>
      <div
        class="c-hero__side"
        data-aos="fade-down"
        data-aos-duration="1200"
      >
        <img src="{{ side_image }}" alt="">
      </div>
    </div>
  </div>
</section>
