<section class="l-how" style="background-image: url('{{ background_image }}');">
  <div class="u-container">
    <div class="c-how">
      <div class="c-how__content">
        <div class="u-title">{{ title }}</div>
        <div class="c-how__cards">
          {% for card in cards %}
            <div class="c-how__card" data-aos="flip-up">
              <div class="c-how__card-number">{{ card.number }}</div>
              <div class="c-how__card-title">{{ card.title }}</div>
              <ul class="c-how__card-features">
                {% for feature in card.features %}
                  <li class="u-text is-medium">{{ feature.string }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="c-how__side">
        <img src="{{ side_image }}" alt="">
      </div>
    </div>
  </div>
</section>
