<div style="display: inline-block; position: absolute; right: 100%">
  <svg xmlns="http://www.w3.org/2000/svg">
    <symbol id="footer-fb" viewBox="0 0 24 25">
      <path d="M22.6667 0.666504H1.33333C0.979711 0.666504 0.640573 0.80698 0.390524 1.05703C0.140476 1.30708 0 1.64621 0 1.99984L0 23.3331C0 23.6868 0.140476 24.0259 0.390524 24.2759C0.640573 24.526 0.979711 24.6665 1.33333 24.6665H12.82V15.3865H9.70333V11.7532H12.82V9.08649C12.82 5.9865 14.7133 4.29983 17.4867 4.29983C18.4197 4.29711 19.3522 4.34495 20.28 4.44317V7.66649H18.36C16.86 7.66649 16.57 8.37983 16.57 9.42983V11.7432H20.1667L19.7 15.3765H16.57V24.6665H22.6667C23.0203 24.6665 23.3594 24.526 23.6095 24.2759C23.8595 24.0259 24 23.6868 24 23.3331V1.99984C24 1.64621 23.8595 1.30708 23.6095 1.05703C23.3594 0.80698 23.0203 0.666504 22.6667 0.666504V0.666504Z"/>
    </symbol>
    <symbol id="footer-instagram" viewBox="0 0 24 24">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M7.04359 0.147275C5.09013 0.235415 3.39698 0.713012 2.02979 2.07442C0.657834 3.44299 0.18617 5.14285 0.0978101 7.07599C0.0428837 8.28256 -0.278297 17.398 0.653059 19.7885C1.28113 21.4012 2.51813 22.6412 4.14561 23.2713C4.90503 23.5667 5.77193 23.7666 7.04359 23.825C17.6766 24.3062 21.6181 24.0442 23.2802 19.7885C23.5751 19.031 23.7781 18.1648 23.8343 16.8963C24.3202 6.23605 23.7555 3.92538 21.9023 2.07442C20.4324 0.608192 18.7034 -0.389905 7.04359 0.147275ZM7.14148 21.6811C5.97728 21.6287 5.34564 21.4347 4.92414 21.2715C3.86383 20.8594 3.0674 20.0662 2.65784 19.0121C1.94858 17.1957 2.18382 8.56863 2.2471 7.17267C2.30919 5.80529 2.58621 4.55561 3.551 3.59083C4.74504 2.39973 6.28773 1.81599 16.7918 2.29005C18.1625 2.35198 19.4151 2.62843 20.3823 3.59083C21.5763 4.78192 22.1686 6.33648 21.6862 16.8002C21.6336 17.9615 21.439 18.5917 21.2754 19.0121C20.1948 21.7814 17.7088 22.1658 7.14148 21.6811ZM16.9076 5.62755C16.9076 6.41606 17.5488 7.05724 18.3405 7.05724C19.1321 7.05724 19.7745 6.41606 19.7745 5.62755C19.7745 4.83905 19.1321 4.19845 18.3405 4.19845C17.5488 4.19845 16.9076 4.83905 16.9076 5.62755ZM5.8352 11.9856C5.8352 15.3635 8.58032 18.1022 11.9666 18.1022C15.353 18.1022 18.0981 15.3635 18.0981 11.9856C18.0981 8.60763 15.353 5.87071 11.9666 5.87071C8.58032 5.87071 5.8352 8.60763 5.8352 11.9856ZM7.98687 11.9856C7.98687 9.79396 9.7684 8.01583 11.9666 8.01583C14.1649 8.01583 15.9464 9.79396 15.9464 11.9856C15.9464 14.1784 14.1649 15.957 11.9666 15.957C9.7684 15.957 7.98687 14.1784 7.98687 11.9856Z"/>
    </symbol>
    <symbol id="footer-linkedIn" viewBox="0 0 25 25">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M24.6669 24.6665H19.8669V16.2677C19.8669 13.9637 18.8505 12.6782 17.0277 12.6782C15.0441 12.6782 13.8669 14.0177 13.8669 16.2677V24.6665H9.06695V9.0665H13.8669V10.8208C13.8669 10.8208 15.3729 8.17822 18.7665 8.17822C22.1613 8.17822 24.6669 10.2498 24.6669 14.5362V24.6665ZM3.59738 6.57158C1.97859 6.57158 0.666992 5.24926 0.666992 3.61846C0.666992 1.98886 1.97859 0.666504 3.59738 0.666504C5.21497 0.666504 6.52656 1.98886 6.52656 3.61846C6.52776 5.24926 5.21497 6.57158 3.59738 6.57158ZM0.666992 24.6665H6.66696V9.0665H0.666992V24.6665Z"/>
    </symbol>
    <symbol id="footer-megium" viewBox="0 0 25 25">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M0.666992 0.333496H24.6669V24.3335H0.666992V0.333496ZM6.19083 7.83338C6.33862 7.96659 6.41409 8.16221 6.39406 8.36013V15.4863C6.43791 15.7434 6.35688 16.0059 6.17578 16.1936L4.48218 18.248V18.5189H9.28447V18.248L7.59087 16.1936C7.40844 16.0063 7.32238 15.7454 7.35753 15.4863V9.32333L11.5727 18.5189H12.062L15.6825 9.32333V16.6527C15.6825 16.8483 15.6825 16.8859 15.5545 17.0139L14.2524 18.278V18.549H20.5751V18.278L19.3181 17.044C19.2071 16.9594 19.1521 16.8204 19.1751 16.6828V7.61516C19.1521 7.47756 19.2071 7.33854 19.3181 7.25396L20.6052 6.01986V5.74896H16.1492L12.9727 13.6728L9.35974 5.74896H4.68541V6.01986L6.19083 7.83338Z"/>
    </symbol>
    <symbol id="footer-twitter" viewBox="0 0 24 20">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M7.548 19.8663C16.6044 19.8663 21.558 12.4785 21.558 6.07271C21.558 5.86241 21.558 5.65369 21.5436 5.44575C22.5072 4.76051 23.3388 3.90969 24 2.93618C23.1024 3.32843 22.1484 3.58566 21.1728 3.69907C22.2 3.09299 22.9692 2.1408 23.3376 1.01723C22.3704 1.58197 21.3132 1.98053 20.2104 2.19438C18.3456 0.242618 15.2268 0.148055 13.2432 1.98403C11.9652 3.16785 11.4216 4.93289 11.8188 6.61646C7.86 6.42034 4.1712 4.57967 1.6704 1.55161C0.3636 3.76682 1.032 6.59965 3.1956 8.02212C2.412 7.99967 1.6452 7.79196 0.96 7.41626V7.47779C0.9612 9.78517 2.6136 11.7719 4.9104 12.2292C4.1856 12.4241 3.4248 12.4524 2.688 12.3118C3.3324 14.2872 5.1816 15.6402 7.2876 15.6792C5.544 17.0284 3.39 17.761 1.1724 17.7587C0.7812 17.7575 0.39 17.735 0 17.6889C2.2524 19.1114 4.872 19.8663 7.548 19.8628"/>
    </symbol>
    <symbol id="close" viewBox="0 0 212.982 212.982">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M131.804 106.491l75.936-75.936c6.99-6.99 6.99-18.323 0-25.312-6.99-6.99-18.322-6.99-25.312 0L106.491 81.18 30.554 5.242c-6.99-6.99-18.322-6.99-25.312 0-6.989 6.99-6.989 18.323 0 25.312l75.937 75.936-75.937 75.937c-6.989 6.99-6.989 18.323 0 25.312 6.99 6.99 18.322 6.99 25.312 0l75.937-75.937 75.937 75.937c6.989 6.99 18.322 6.99 25.312 0 6.99-6.99 6.99-18.322 0-25.312l-75.936-75.936z"/>
    </symbol>
    <symbol id="percent" viewBox="0 0 39 39">
      <path d="M5.18429 36.7387L36.0811 5.83366C36.8975 5.01711 36.8975 3.69323 36.0811 2.87668C35.2648 2.06014 33.9413 2.06014 33.1249 2.87668L2.2281 33.7817C1.41176 34.5982 1.41176 35.9221 2.22809 36.7387C3.04443 37.5552 4.36796 37.5552 5.18429 36.7387Z" fill="#F2F2F2"/>
      <path d="M38.5 31C38.5 35.1421 35.1421 38.5 31 38.5C26.8579 38.5 23.5 35.1421 23.5 31C23.5 26.8579 26.8579 23.5 31 23.5C35.1421 23.5 38.5 26.8579 38.5 31Z" stroke="#F2F2F2"/>
      <path d="M15.5005 8C15.5005 12.1421 12.1426 15.5 8.00049 15.5C3.85835 15.5 0.500488 12.1421 0.500488 8C0.500488 3.85787 3.85835 0.5 8.00049 0.5C12.1426 0.5 15.5005 3.85787 15.5005 8Z" stroke="#F2F2F2"/>
    </symbol>
    <symbol id="shield" viewBox="0 0 114 121">
      <g filter="url(#filter0_d)">
      <path d="M73 33H41C38.7909 33 37 34.7909 37 37V55.8188C37 55.8188 37 71.7184 55.5988 79.4469C56.4911 79.8176 57.5089 79.8176 58.4012 79.4469C77 71.7184 77 55.8188 77 55.8188V37C77 34.7909 75.2091 33 73 33Z" stroke="#F2F2F2" stroke-width="4"/>
      </g>
      <defs>
        <filter id="filter0_d" x="0" y="0" width="114" height="120.725" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
          <feOffset dy="4"/>
          <feGaussianBlur stdDeviation="17.5"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
          <feBlend mode="multiply" in2="BackgroundImageFix" result="effect1_dropShadow"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
        </filter>
      </defs>
    </symbol>
    <symbol id="shield-insignia" viewBox="0 0 24 26">
      <path d="M15.973 8.6676C18.9983 10.3269 18.9983 14.6731 15.973 16.3324C13.06 17.9301 9.5 15.8223 9.5 12.5C9.5 9.17765 13.06 7.0699 15.973 8.6676Z" stroke="#F2F2F2"/>
      <path d="M20 3L16 9" stroke="#F2F2F2"/>
      <circle cx="20.5" cy="2.5" r="2.5" fill="#F2F2F2"/>
      <path d="M19.8105 22.2131L16 16" stroke="#F2F2F2"/>
      <circle cx="19.8376" cy="22.309" r="2.5" transform="rotate(105 19.8376 22.309)" fill="#F2F2F2"/>
      <path d="M9.5 12.5H3.5" stroke="#F2F2F2"/>
      <circle cx="2.5" cy="12.5" r="2.5" fill="#F2F2F2"/>
    </symbol>
    <symbol id="lightning" viewBox="0 0 112 112">
      <g filter="url(#filter0_d)">
        <circle cx="56" cy="52" r="20.5" stroke="#F2F2F2"/>
      </g>
      <path d="M68 29L45 52H68L45 75" stroke="#F2F2F2" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
      <defs>
        <filter id="filter0_d" x="0" y="0" width="112" height="112" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
          <feOffset dy="4"/>
          <feGaussianBlur stdDeviation="17.5"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"/>
          <feBlend mode="multiply" in2="BackgroundImageFix" result="effect1_dropShadow"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
        </filter>
      </defs>
    </symbol>
    <symbol id="lock" viewBox="0 0 30 41">
      <rect x="2" y="17" width="26" height="22" rx="3" stroke="#F1F1F1" stroke-width="4"/>
      <path d="M4.76587 10.8404C4.76587 5.40571 9.17158 1 14.6063 1C20.041 1 24.4467 5.40571 24.4467 10.8404V16.4255" stroke="#EFEFEF" stroke-linecap="round"/>
      <circle cx="14.5" cy="27.5" r="3.5" fill="white"/>
    </symbol>
    <symbol id="card" viewBox="0 0 46 32">
      <mask id="path-1-inside-1" fill="white">
        <rect width="46" height="32" rx="3"/>
      </mask>
      <rect width="46" height="32" rx="3" stroke="#F2F2F2" stroke-width="8" mask="url(#path-1-inside-1)"/>
      <path d="M9 21H14" stroke="#F2F2F2" stroke-linecap="round"/>
      <path d="M16.5 21H21.5" stroke="#F2F2F2" stroke-linecap="round"/>
      <path d="M24 21H29" stroke="#F2F2F2" stroke-linecap="round"/>
      <path d="M31.5 21H36.5" stroke="#F2F2F2" stroke-linecap="round"/>
      <path d="M3 12H43" stroke="#F2F2F2" stroke-width="4"/>
    </symbol>
  </svg>
</div>
