<div class="l-info-box">
  <div class="u-container is-wide">
    <div class="c-info-box" data-aos="flip-down">
      <div class="c-info-box__title">{{ data.title }}</div>
      <div class="u-text is-medium">{{ data.text }}</div>
      {% include 'templates/partial/link.twig' with {
        'class': 'u-btn is-default',
        'url': data.link.url,
        'target': data.link.target,
        'title': data.link.title,
      } %}
    </div>
  </div>
</div>
