<div class="l-info-bubbles">
  <div class="u-container is-wide">
    <div class="c-info-bubbles" data-aos="zoom-in">
      <div class="u-title">{{ data.title }}</div>
      <div class="c-info-bubbles__content">
        {% for bubble in data.bubbles %}
          <div class="c-info-bubbles__card">
            <div class="c-info-bubbles__icon">
              <img src="{{ bubble.icon }}" alt="">
            </div>
            <div class="c-info-bubbles__text">{{ bubble.text }}</div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
