<div class="l-info" style="background-image: url('{{ background_image }}');">
  <div class="u-container">
    <div class="c-info">
      <div class="c-info__side" data-aos="fade-up">
        <img src="{{ side_image | resize(400) }}" alt="">
      </div>
      <div class="c-info__content" data-aos="fade-up">
        <div class="u-title">{{ title }}</div>
        <div class="u-text is-big">{{ subtitle }}</div>
        <div class="c-info__button">
          {% include 'templates/partial/link.twig' with {
            'class': 'u-btn is-primary',
            'url': button.url,
            'target': button.target,
            'title': button.title,
          } %}
        </div>
{#        <a href="#" class="u-btn is-primary">Return to main page</a>#}
      </div>
    </div>
  </div>
  <div class="l-info__side" data-aos="fade-up" data-aos-duration="1000">
    <img src="{{ side_image }}" alt="">
  </div>
</div>
