<div class="l-join" style="background-image: url('{{ background_image }}');">
  <div class="u-container is-wide">
    <div class="c-join" data-aos="flip-down">
      <div class="u-title">{{ title }}</div>
      <div class="u-text is-medium">{{ subtitle }}</div>
      <form class="c-join__form js-join-form">
        <label class="c-join__label">
          <input type="email" class="u-input" placeholder="{{ email_placeholder }}">
        </label>
        <button class="u-btn is-primary" type="submit">{{ button_text }}</button>
      </form>
    </div>
  </div>
</div>
