<div class="l-main" style="background-image: url({{ data.background_image }});">
  <div class="u-container">
    <div class="c-main">
      <div
        class="c-main__content"
        data-aos="fade-up"
        data-aos-duration="1200"
      >
        <h1 class="c-main__title">
          {% if data.alternative_title %}
            {{ data.alternative_title }}
          {% else %}
            {{ post.post_title }}
          {% endif %}
        </h1>
        <div class="c-main__text u-text is-medium">
          {{ data.text }}
        </div>
      </div>
      <div
        class="c-main__side"
        data-aos="fade-down"
        data-aos-duration="1200"
      >
        <img src="{{ data.side_image }}" alt="">
      </div>
    </div>
  </div>
</div>
