<div class="c-mob-menu">
  {% include "menu.twig" with {'menu': menu.get_items} %}
  {% include "menu.twig" with {'menu': menu_auth.get_items, 'separator': true} %}
  <svg class="c-mob-menu__close" width="40px" height="40px">
    <use xlink:href="#close"></use>
  </svg>
</div>