<div class="l-news-hero" style="background-image: url('{{ data.meta('background_image') }}');">
  <div class="u-container">
    <div class="c-container">
      <div class="l-news-hero__title">{{ data.post_title }}</div>
    </div>
  </div>
</div>
