<div class="l-team">
  <div class="u-container">
    <div class="c-team">
      {% if data.title %}
        <div class="u-title">{{ data.title }}</div>
      {% endif %}
      <div class="c-team__content">
        {% for person in data.team %}
          <div class="c-team__person" data-aos="fade-up" data-aos-delay="{{ loop.index0 * 100 }}">
            <div class="c-team__card">
              <div class="c-team__photo">
                <img src="{{ function('get_the_post_thumbnail_url', person.ID, 'full') | resize(275, 250) }}" alt="">
              </div>
              <div class="c-team__name">{{ person.post_title }}</div>
              <div class="c-team__position">{{ person.meta('position') }}</div>
            </div>
            <div class="c-team__bio">
              <div class="c-team__bio-head">Bio</div>
              <div class="c-team__bio-content">
                {{ person.post_content }}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      {% if data.link %}
        <div class="c-team__button">
          {% include 'templates/partial/link.twig' with {
            'class': 'u-btn is-primary',
            'url': data.link.url,
            'target': data.link.target,
            'title': data.link.title,
          } %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
