<div class="l-videos" data-aos="zoom-in">
  <div class="u-container">
    <div class="u-title">Videos</div>
    <div class="c-videos">
      {% for video in videos %}
        <div class="c-videos__card">
          <div class="c-videos__box js-iframe-popup">
            {{ video.meta('iframe') }}
          </div>
          <div class="c-videos__date">
            {{ post.post_date | date('M d Y') }}
          </div>
          <div class="c-videos__text">
            {{ video.post_excerpt|truncate(20) }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
